/*
   Hotel Natoma style sheet
   Filename: styles.css

   Author: Tia Petts
   Date: 02/11/2020

 */

/* reset styles */
html {
   font-size: 20px;
}

a, article, body, div, figcaption, figure, footer, header, h1,
h2, h3, img, li, nav, p, section, textarea, ul {
   border: 0;
   padding: 0;
   margin: 0;
}

img, video {
   max-width: 100%;
   height: auto;
   width: auto;
}

ul {
   list-style-type: none;
}

/* body and page container */
body {
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   max-width: 960px;
   margin: 0 auto;
   border-left: 3px solid black;
   border-right: 3px solid black;
   position: relative;
   border-top-left-radius: 25px;
   border-bottom-right-radius: 25px;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}

p.skipnavigation a:focus {
   left: auto;
   right: 1em;
   top: 1em;
   background-color: white;
   color: #082008;
   z-index: 2;
}

/* header section */
header {
   padding: 0.5em;
   background-color: #082008;
   border-top-left-radius: 22px;
}

h1 img {
   margin: 0 auto;
   display: block;
   width: 368px;
   height: 65px;
}

#empty {
  display: none;
}

#img_bridge {
  width: 350px;
  height: 232px;
}

.img_extra {
  width: 450px;
  height: 300px;
  /* float: right; */
}

figure.cable {
  max-width: 100%;
  float: right;
}


/* site navigation */
nav.sitenavigation {
   padding: 2%;
   text-align: center;
   background-color: #485D37;
}

nav.sitenavigation li {
   margin: 0 1em;
   padding: 0.2em;
   display: inline-block;
}

nav.sitenavigation li:hover {
   background: #082008;
   border-radius: 0.2em;
}

nav.sitenavigation a:link {
   color: white;
   text-decoration: none;
   font-weight: bold;
}

nav.sitenavigation a:visited {
   color: #ffffff;
}

nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   text-shadow: 0 0 6px #082008;
}

/* main content */
article {
   padding: 2%;
   background-color: linen;
   overflow: auto;
}

article h2 {
   font-family: "Krona One", Arial, Helvetica, sans-serif;
   font-size: 1.6em;
   line-height: 2em;
   font-weight: 400;
   text-align: center;
}

article p {
   margin: 0 2em 0.5em;
}

article p.pullquote {
   margin: 1em 1em 0.4em;
   font-size: 1.7em;
   line-height: 1.4em;
}

article p.subhead {
   margin-bottom: 1.6em;
   text-align: center;
}

figure {
   max-width: 50%;
   margin: 0.2em 0 0.2em 0.5em;
   float: right;
}

figcaption {
   text-align: center;
   font-weight: bold;
}

article ul {
   margin-left: 2em;
}

/* museum.html Styles */
ul.no_bullet {
    list-style-type: none;
}

li.art, li.culture, li.kids {
    margin: 10px 4px 10px 4px;
}

li.art:before {
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-position: 0 -7px;
    margin: -4px 12px 12px -42px;
}

li.culture:before {
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-position: -42px -5px;
    margin: -4px 12px 12px -42px;
}

li.kids:before {
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    background-position: -80px -7px;
    margin: -4px 12px 12px -42px;
}



/* form styles */
form {
   margin: 2%;
   padding: 2%;
   border: 2px solid black;
   background-color: #ff9c78;
}

.form-instructions {
   color: green;
}

/* fieldset styles */
fieldset {
   margin: 0 0 1em 1em;
}

.submitbutton {
   margin-bottom: 0;
   text-align: center;
}

/* field styles */
input, textarea {
   border: 1px solid #777;
   padding: 0.2em;
   font-size: 1em;
}

.contactinfo input:valid {
   background-color: #d1f4bd;
}

input:focus, textarea:focus {
   background-color: yellow;
}

.contactinfo input {
   position: absolute;
   left: 4em;
}

#nameinput, #emailinput {
   max-width: 25em;
   width: 75%;
}

#phoneinput {
   width: 50%;
   max-width: 12em;
}

#notes {
   width: 96%;
   margin-top: 0.5em;
   display: block;
}

/* label styles */
label {
   font-size: 1em;
}

.contactinfo label {
   margin: 0.7em 0;
   display: block;
   position: relative;
}

.contactinfo label:before {
   content: "* ";
   color: green;
}

/* footer section */
footer {
   padding: 10px;
   text-align: center;
   color: white;
   background-color: #082008;
   border-bottom-right-radius: 22px;
}

footer div {
  width: 100%;
  text-align: center;
  clear: both;
  padding: .5em;
}

/*Icon styles*/
#social_media {
  width: 100%;
  text-align: center;
}

.sprite {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  display: inline-block;
}

.sprite.social_media_facebook {
   background-position: -120px 0;
 }

.sprite.social_media_flickr {
  background-position: -172px 0;
}

.sprite.social_media_instagram {
   background-position: -224px 0;
 }

.sprite.social_media_pinterest {
  background-position: -276px 0;
 }

.sprite.social_media_twitter {
  background-position: -328px 0;
}

.sprite.social_media_yelp {
  background-position: -380px 0;
 }


/* print styles */
@media print {
   article {
      width: 100%;
   }

   article, body, .container, footer {
      border: 0;
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }

   body {
      max-width: 100%;
   }

   nav {
      display: none;
   }
}

@page {
   margin: 0.75in;
}
